<style type="text/css">

 .tab { text-indent:40px; }
 .large { font-size:14 }
 .lblue { color:#23AAFF }
 .stress { color:#23AAFF; font-size:14pt; font-weight:bold }
 .large_bold { font-size:16pt; font-weight:bold; color:#23AAFF; }

</style>